<!--/.col-*-->
<form class="form-horizontal" role="form" ng-submit="vm.doBasicLogin()">
    <div class="form-group">
        <label for="inputUsername" class="col-sm-2 col-md-2 control-label">{{'shared.Username' | translate}}</label>
        <div class="col-sm-10 col-md-10">
            <input type="text" class="form-control" id="inputUsername" placeholder="" tabindex="1" required ng-model="vm.basic.username" autofill autofocus>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 col-md-2 control-label">{{'shared.Password' | translate}}</label>
        <div class="col-sm-10 col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="" tabindex="2" required ng-model="vm.basic.password" autofill>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
            <div class="checkbox">
                <label>
                        <input type="checkbox" tabindex="3" ng-model="vm.basic.rememberMe"> {{'loginPage.rememberCredentials' | translate}}
                    </label>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 submit">
            <button type="submit" class="btn btn-primary btn-lg" tabindex="4">{{'shared.Login' | translate}}</button>
        </div>
        <div id="vdb-login-forgotten-userpwd" class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10">
            Forgot <a ng-click="vm.basic.showForgotPwd()">username</a> or <a ng-click="vm.basic.showForgotPwd()">password</a>?
        </div>
        <div class="basic-user-pwd-forgotten" ng-show="vm.basic.forgotPwd">
            <p>
                Connection to the repository is a pre-requisite to accessing this application. For successful connections, the username and
                password must be configured on the host server.
            </p>
        </div>
    </div>
</form>
