<div id="vdb-login" ng-controller="App.LoginController as vm" style="background-image: url('app/content/img/bg-login.jpg');">

    <div class="login-pf">
        <span id="badge">
            <img src="app/content/img/teiid-logo.svg" alt=" logo" />
        </span>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="teiid-brand">
                        <img src="app/content/img/teiid-dsb-banner.svg" alt="Data Services Builder">
                    </div>
                    <!--/#brand-->
                </div>

                <div class="col-sm-7 col-md-6 col-lg-5">
                    <div id="vdb-login-repo-config">

                        <a ng-click="vm.toggleRepositoryConfig()" class="btn btn-primary">Select Workspace</a>
                            <div class="repo-config-page-slide-container"
                                pageslide ps-open="vm.showRepoConfig"
                                ps-size="50%"
                                ps-key-listener="true"
                                ps-container="vdb-login">
                                <div class="repo-config-slide-container">
                                    <repository-config-control edit="true"></repository-config-control>
                                    <div class="row repo-config-slide-buttons">
                                        <button class="btn btn-primary" ng-click="vm.toggleRepositoryConfig()" translate="shared.Close" />
                                    </div>
                                </div>
                            </div>
                        </a>

                        <p>Selected workspace is <b>{{vm.selectedRepo()}}</b> using <b>{{vm.selectedRepoAuthType()}}</b> login.</p>
                    </div>

                    <div id="vdb-login-auth-mechanism" class="login">
                        <!-- Basic Authentication UI -->
                        <div ng-include="'app/login-basic.html'" ng-show="vm.isBasicAuth()==true"></div>

                        <!-- Keycloak Authentication UI -->
                        <div ng-include="'app/login-keycloak.html'" ng-show="vm.isKeycloakAuth()==true"></div>
                    </div>
                </div>

                <div class="col-sm-5 col-md-6 col-lg-7 details">
                    <p>
                        <strong>{{'loginPage.welcomeTitle' | translate}}</strong> - {{'loginPage.welcomeDescription' | translate}}
                    </p>
                </div>

                <div id="vdb-login-error" class="col-sm-5 col-md-6 col-lg-7">
                    <p ng-bind-html="vm.loginError"></p>
                </div>
                <!--/.col-*-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>


</div>
